/* Global */

:root {
    --mobile-header: absolute;

    --banner1-height-mob: 50vh;
    --banner1-txt-width-desk: 700px;
    --banner1-txt-width-mob: 300px;

    --banner1-txt-desk: auto 5% auto auto;
    --banner1-txt-mob: auto 0 auto auto;

    --banner2-height-desk: 700px;
    --banner2-height-mob: 300px;

    --banner2-txt-width-desk: 700px;
    --banner2-txt-width-mob: 300px;

    --banner2-txt-desk: auto;
    --banner2-txt-mob: auto;

    --main-banner-p: none;

    --cat-mob: 2;

    --week-offers-bg: linear-gradient(to bottom right, #d0e4df, #6fad9d);
}

.g-products,
.g_features,
.section_c_r {
    margin-bottom: 3rem !important;
}

.g_features {
    margin-top: 3rem !important;
}

@media (max-width: 768px) {
    .g-products,
    .g_features,
    .section_c_r {
        margin-bottom: 1.5rem !important;
    }
}

.title-heade {
    background-color: transparent;
}

.outof-stock span {
    color: #fff !important;
}

.landing-page-first-bannar h1,
.landing-page-first-bannar p,
.weeklyOffers p {
    line-height: 1.5 !important;
}

/* Navbar */

.navbar-brand img {
    width: auto !important;
}

.main-nav-container.fixed-pinned .navbar-brand img {
    max-height: 70px;
}

@media (min-width: 992px) {
    .navbar-brand img {
        max-height: 5rem;
    }
   
}

.main-nav-container.fixed-pinned .inner,
body:not(body.index) .main-nav-container.fixed-pinned .inner {
    background-color: #ffffffc2 !important;
}

.main-nav-container.fixed-pinned a:not(:hover),
body:not(body.index) header a {
    color: #000 !important;
}

.main-nav-container.fixed-pinned svg *,
body:not(body.index) header svg * {
    stroke: #000 !important;
}

@media (max-width: 992px) {
    .main-menu li > a {
        color: #000 !important;
    }
}

@media (max-width: 768px) {
    .index .store-header {
        position: var(--mobile-header) !important;
    }
    .navbar-brand img {
        max-width: 70px;
    }
    .top-navbar {
        display: none;
    }
}

/* Main Banner */

@media (min-width: 1024px) {
    .landing-page-first-bannar p {
        font-size: 26px !important;
    }
}

section:nth-child(1 of.landing-page-first-bannar) .txt {
    margin: var(--banner1-txt-desk);
    max-width: var(--banner1-txt-width-desk);
}

section:nth-child(2 of.landing-page-first-bannar) > div {
    height: var(--banner2-height-desk) !important;
}

section:nth-child(2 of.landing-page-first-bannar) .txt {
    margin: var(--banner2-txt-desk);
    max-width: var(--banner2-txt-width-desk);
}

@media (max-width: 768px) {
    .landing-page-first-bannar > div {
        height: var(--banner1-height-mob) !important;
    }

    section:nth-child(1 of.landing-page-first-bannar) .txt {
        margin: var(--banner1-txt-mob);
        max-width: var(--banner1-txt-width-mob);
    }

    section:nth-child(2 of.landing-page-first-bannar) > div {
        height: var(--banner2-height-mob) !important;
    }

    section:nth-child(2 of.landing-page-first-bannar) .txt {
        margin: var(--banner2-txt-mob);
        max-width: var(--banner2-txt-width-mob);
    }

    .landing-page-first-bannar h1 {
        font-size: 1.2rem !important;
        font-weight: bold !important;
        margin-bottom: 0.5rem !important;
    }
    .landing-page-first-bannar p {
        font-size: 1rem !important;
        font-weight: 600 !important;
        line-height: 1.6;
        display: var(--main-banner-p);
        margin: auto;
    }

    .landing-page-first-bannar button {
        font-size: 16px !important;
        height: 46px !important;
        width: 140px !important;
        margin-top: 1rem !important;
    }
}

/* Categories & Squares*/

.ads .img .over {
    background: #00000057;
    color: #fff;
}

.g_cat h3 {
    font-size: 1rem;
    font-weight: bold !important;
}

@media (max-width: 768px) {
    .g_cat .grid {
        grid-template-columns: repeat(var(--cat-mob), minmax(0, 1fr));
    }
    .g_cat h3 {
        font-size: 1rem;
        font-weight: bold !important;
    }
    .ads .img .over .text,
    .f_img .text a {
        text-align: center !important;
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        align-items: center;
    }
}

/* Offers Sections*/

.product_deadline {
    box-shadow: unset;
    border: 2px solid var(--color-primary);
    border-radius: 1rem;
}

salla-add-product-button .s-button-primary:hover {
    background-color: transparent !important;
}

.product_deadline salla-add-product-button {
    background-image: linear-gradient(to bottom right, #976f40, #ffcb85);
}

.product_deadline salla-add-product-button[width="wide"] {
    height: auto;
    padding: 1rem;
}

.product_deadline button * {
    color: #fff !important;
}

.banner_ad .img2 > div {
    background-position: right !important;
}

.banner_ad a {
    background-color: var(--color-primary) !important;
}

.banner_ad p {
    line-height: 1.6 !important;
    font-size: 28px !important;
    margin-bottom: 0.5rem !important;
}

@media (max-width: 768px) {
    .banner_ad p {
        font-size: 16px !important;
    }
}

.weeklyOffers .swiper-backface-hidden .swiper-slide {
    gap: 2rem;
}

.weeklyOffers {
    background: var(--week-offers-bg) !important;
}

/* Products */

.s-product-card-content-title {
    max-width: 90% !important;
}

.s-product-card-image-full {
    border-radius: 0 !important;
}

.cat-lnk {
    display: none !important;
}

@media (max-width: 768px) {
    custom-salla-product-card:not(.s-product-card-horizontal)
        .s-product-card-content-footer {
        position: static !important;
        opacity: 1 !important;
    }
    .s-product-card-vertical .s-product-card-wishlist-btn {
        top: -1rem;
    }
    .s-products-slider-card
        custom-salla-product-card:not(.s-product-card-horizontal)
        .s-product-card-content-footer
        button:hover {
        opacity: 0.8;
    }
}

/* Custom Video */

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.full-width-video-section {
    margin-bottom: 2rem;
    min-height: var(--banner1-height-mob);
    position: relative;
    overflow: hidden;
}

.full-width-video-section::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.full-width-video-section:hover:after {
    z-index: 2;
}

.full-width-video-section .video-overlay {
    opacity: 0;
}

.full-width-video-section:hover .video-overlay {
    opacity: 1;
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 10;
}

.overlay-heading {
    font-size: 2rem;
    font-weight: 700 !important;
    margin-bottom: 2rem;
}

.overlay-paragraph {
    margin: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.6;
}

.btn-changing {
    padding: 10px 20px;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--f-color);
    color: #fff;
    cursor: pointer;
}

.btn-changing:hover {
    opacity: 0.9;
}

@media (max-width: 992px) {
    .overlay-heading {
        font-size: 1rem;
        line-height: 1.5;
    }

    .overlay-paragraph {
        font-size: 0.8rem;
    }
    .video-overlay {
        width: 90%;
    }
    .full-width-video-section::after {
        z-index: 2;
    }
    .full-width-video-section .video-overlay {
        opacity: 1;
    }
}

/* Footer */

footer {
    padding-bottom: 0 !important;
}

@media (min-width: 768px) {
    footer .grid > div:nth-of-type(1) {
        grid-column: 1/3;
    }
    footer .grid div:nth-of-type(4) {
        display: none;
    }
    footer .grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

.copyright-text p {
    color: #fff !important;
}

.copyright-text a:hover {
    color: #fff !important;
    opacity: 0.8;
}

@media (max-width: 768px) {
    footer * {
        margin: 0 auto;
        text-align: center;
    }
    footer .grid > div:nth-of-type(3) {
        flex-direction: column !important;
    }
    footer + div {
        margin-bottom: 70px;
    }
    #contact-slot {
        background: transparent;
    }
}
