/* Logo */

.main-nav-container.fixed-pinned .navbar-brand img {
  max-height: max-content;
}

/* Categoties */

.special_categories > div:first-of-type {
  grid-row: span 2 !important;
}

.special_categories > div:last-of-type {
  display: none !important;
}

.s-slider-block__title-right h2,
.s-slider-block__title-nav,
.moved_banner_logo {
  display: none !important;
}

/* Carousel */

.s-block.s-block--photos-slider * {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

salla-slider.photos-slider .swiper-slide {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

/* Content Text */

.feature_section h2,
.feature_section p,
.customer_review_section .content * {
  color: #e7d8c3 !important;
}

/* Footer */

.store-footer__inner,
footer > div {
  background-color: #a37379 !important;
}

@media (max-width: 768px) {
  footer > div > div > div > div > div {
    flex-direction: column !important;
  }
}
.copyright-text p {
  color: #fff !important;
}
